<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/index.css" type="text/css" />
    <title>SQLi Challenge</title>
</head>

<body>
    <div class="Container">
        <div class="Banner">
            <h1 id="Title">Challenges Gallore</h1>
            <h2 id="Description">
                A collection of challenges to test your mettle and sharpen your blade!<br>
                Learn some of the most frequent attack vectors you'll encounter
            </h2>
        </div>
        <div class="Content">
            <h1>More Challenges are coming!</h1>
            <ul class="challenge-list">
                {% for challenge in challenges %}
                <a class="challenge" href={{challenge.href}}>
                    <div class="challenge-details">
                        <h1>{{ challenge.title }}</h1>
                        <p>{{ challenge.description }}</h1>
                    </div>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>
