<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/sql1.css" type="text/css" />
    <title>SQLi One</title>
  </head>

  <body>
    <!-- Welcome to the first challenge -->
    <div class="content">
      <div id="banner">
        Local Flight Data
      </div>
      <div id="search-bar">
        <input
          type="search"
          id="search-id"
          name="search"
          placeholder="Search for something"
          onkeydown="search_on_enter()"
        />
        <button onclick="search_on_click()">go!</button>
      </div>
      <div class="table">
        <table>
          <thead>
            <th scope="col">flight</th>
            <th scope="col">tail_number</th>
            <th scope="col">long</th>
            <th scope="col">lat</th>
            <th scope="col">manufacturer</th>
          </thead>
          <tbody>
          {% for item in items %}
            <tr class="item">
                <th>{{ item.flight }}</th>
                <td>{{ item.tail_number }}</td>
                <td>{{ item.long }}</td>
                <td>{{ item.lat }}</td>
                <td>{{ item.manufacturer }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    function search_on_enter() {
      if (event.keyCode == 13) {
        let input = document.getElementById("search-id").value;
        document.location.href =
          document.location.origin +
          document.location.pathname +
          "?search=" +
          input;
      }
    }
    function search_on_click() {
        let input = document.getElementById("search-id").value;
        document.location.href =
          document.location.origin +
          document.location.pathname +
          "?search=" +
          input;
    }
  </script>
</html>
